body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5rem;
	font-size: 12px;
	margin: 0;
}
.top {
	color: white;
	background-image: url('images/about.jpg');
	background-size: cover;
	background-position: center;
	height: 600px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: white;
	text-decoration: underline;
}
#nav-bar li {
	display: inline;
	list-style: none;
	padding-right: 50px;
	font-size: 1rem;
}
#nav-bar a {
	text-decoration: none;
	color: white;
}
#nav-bar li.current a, #nav-bar a:hover {
	color: #C28604;
	border-bottom: 3px solid #C28604;
	padding-bottom: 3px;
}
#frontpage h2 {
	font-family: 'Great Vibes', cursive;
	font-weight: lighter;
	color: #C28604;
	font-style: italic;
	font-size: 7rem;
	padding-top: 80px;
	padding-bottom: 0;
	margin: 0;
}
#frontpage h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 3.5rem;
	font-weight: 800;
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0;
}
#frontpage {
	margin-top: 60px;
}
#location {
  margin: 5rem;
	margin-bottom: 50px;
}
#location h2 {
  font-family: 'Great Vibes', cursive;
	font-weight: lighter;
	color: #C28604;
	font-style: italic;
	font-size: 7rem;
	padding-top: 80px;
	padding-bottom: 0;
	margin: 0;
}
#location h3 {
  font-family: 'Montserrat', sans-serif;
	color: #364455;
	font-size: 3.5rem;
	font-weight: 800;
	padding-top: 50px;
	padding-bottom: 60px;
	margin: 0;
}
#location h4 {
	font-family: 'Montserrat', sans-serif;
	color: #364455;
	font-size: 1.5rem;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 15px;
	margin: 0;
}
#location h5 {
	font-family: 'Great Vibes', cursive;
	font-size: 2rem;
	opacity: 0.5;
	color: #364455;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;

}
#location p {
	font-family: 'Montserrat', sans-serif;
	color: #364455;
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 7rem;
	padding-left: 7rem;
}
#location button {
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #C28604;
  color: white;
  font-weight: 600;
	cursor: pointer;
}
#booking {
  padding: 5rem;
	padding-bottom: 50px;
}
#booking select {
	width: 25%;
	padding: 7px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
#booking .bookingInfo {
	width: 24%;
	padding: 7px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 5px;
}
#booking .bookingData {
	width: 50%;
	padding: 7px;
	margin: 7px;
	border-radius: 5px;
}
#booking label {
	color: white;
}
#booking input :focus {
    border: 3px solid lightblue;
}
#booking .bookingAction {
  width: 23%;
}
#booking input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 20px;
    cursor: pointer;
		border-radius: 5px;
}
#booking input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 20px;
    cursor: pointer;
		border-radius: 5px;
}
#booking h2 {
	font-family: 'Great Vibes', cursive;
	font-weight: lighter;
	color: #C28604;
	font-style: italic;
	font-size: 7rem;
	padding-top: 80px;
	padding-bottom: 0;
	margin: 0;
}
#booking h3 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 3.5rem;
	font-weight: 800;
	padding-top: 50px;
	padding-bottom: 40px;
	margin: 0;
}
#booking h5 {
	font-family: 'Great Vibes', cursive;
	font-size: 2rem;
	opacity: 0.5;
	color: #364455;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
#footer {
	background-color: #0E131C;
	padding: 2rem;
}
#footer p {
	color: white;
}
#footer li {
	color: white;
	display: inline;
	list-style: none;
	padding-right: 50px;
	font-size: 1rem;
}
#footer a {
	text-decoration: none;
	color: white;
}
#footer i:hover{
	color: #C28604;
}
.bottom {
	background-color: #364455;
}
.block {
	margin: auto;
}
img {
	width: 90%;
	padding-top: 2rem;
	padding-left: 2rem;
}
#header #logo {
	width: 6rem;
	padding-top: 0.5rem;
	padding-left: 0;
	padding-right: 8rem;
}
hr.style1 {
	height: 5px;
	border: 0;
	box-shadow: 0 10px 10px 10px #C28604 inset;
	width: 30%;
}
hr.fade {
  border: 0;
	height: 5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #C28604, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #C28604, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #C28604, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #C28604, #f0f0f0);
  width: 250px;
}
